<!-- script type="text/javascript" src="https://typesquare.com/3/tsst/script/zh_tw/typesquare.js?6175203448c0454e833519aeac1e02e5&fadein=1500" charset="utf-8"></script -->
<!-- Cloudflare Web Analytics --><script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "ff361dc8c5ff4b2a97f9573f55aba0fc"}'></script><!-- End Cloudflare Web Analytics -->
<script>
window.ga_tid = "UA-213456431-1"; // {String} The trackerID of your site.
window.ga_api = "https://blog.icecode.xyz/cfga/jquery.js"; // {String} The route of your cloudflare workers you just registered before.
</script>
<script src="https://cdn.jsdelivr.net/npm/cfga@1.0.3" async></script>
